body {
  margin: 0;
  font-family: sans-serif;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#controls {
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#viewer-container {
  overflow: auto;
  flex: 1;
  padding: 10px;
}

canvas {
  display: block;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 10px auto;
  max-width: 100%;
}


