/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* Kopfzeile */
header {
    background-color: ##004e00;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #34495e;
}

nav ul li {
    margin: 0;
    padding: 10px 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hauptinhalt */
main {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #2c3e50;
}
/* Stil für die Stadtauswahl */
#city-selection {
    text-align: center;
    margin-top: 15px;
}

#city-select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

/* Stil für die Standortanzeige */
#user-location {
    font-weight: bold;
    color: #2c3e50;
    margin-top: 10px;
}

/* Gebetszeiten */
#prayer-times ul {
    list-style: none;
    padding: 0;
}

#prayer-times ul li {
    padding: 5px;
    font-weight: bold;
}

/* Fußzeile */
footer {
    background-color: #004e00;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
