body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
body {
    background: url('icons/icon-192x192.png') no-repeat center center fixed;
    background-size: 300px; /* Größe des Wasserzeichens */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.001; /* Transparenz */
}


header {
    background-color: #0275d8;
    color: white;
    text-align: center;
    padding: 10px;
}

.logo {
    max-width: 100px;
}

nav ul {
    list-style: none;
    background: #333;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hadith-container {
    max-width: 600px;
    margin: 50px auto; /* Abstand zu den Rändern */
    padding: 20px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hadith-container h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.box {
    background: white;
    padding: 20px;
    margin: 20px;
    border: 2px solid #0275d8;
    border-radius: 10px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
